.apply-btn button {
    background-color: rgb(255, 255, 0);
    border: 0;
    padding: 15px 35px;
    font-weight: 900;
}

.icon li {
    margin: 0px 10px 50px 10px;
}

.header-top p {
    height: 80px;
    color: gray;
    font-size: 12px;
    margin-top: 70px;
}

.icon .additional li i {
    display: none;
}