.pages {
    ul {
        margin-bottom: 50px;
        margin-left: 100px;
        position: relative;
        right: 230px;
    }

    li {
        margin: 0px 20px;
        font-weight: 600;
    }
}


.code-logo img {
    height: 100px;
    width: 150px;
}
