#partner {
    .title {
        h3 {
            font-size: 50px;
            margin-left: 350px;
            text-align: center;
            width: 100px;

            span:first-child {
                font-weight: 300;
                margin-left: 90px;
                margin-bottom: 0px;
            }

            span:nth-child(2) {
                font-weight: 900;
            }
        }

        p {
            text-align: center;
            width: 510px;
            margin-left: 300px;
            margin-bottom: 80px;
            margin-top: 40px;
            position: relative;
        }

        p::after {
            @include gradient($width: 80px,$height: 3px);
            right: 215px;
            margin-top: 30px;
        }
    }
}


.icon img {
    height: 68px;
    width: 120px;
    margin: 0px 20px;
}

ul {
    list-style: none;
}