ul {
    margin-top: 50px;
    margin-right: 50px;

    li {
        margin: 5px;
    }
}

#shortcut {
    ul li {
        color: rgb(69, 69, 69);
    }

    h6 {
        font-weight: 700;
        margin-left: 5px;
    }
}