@import "./partials/mixin";

#digital-marketinq {
    .personal {
        border: 1px solid rgb(47, 47, 47);

        h4 {
            @include title;
        }

        .btn button {
            @include button($top: 120px, $left: 20px);
        }

        p {
            @include paragraph;
        }
    }

    .cooperative {
        border: 1px solid rgb(49, 49, 49);

        h4 {
            @include title;
        }

        .btn button {
            @include button($top: 170px, $left: 20px);
        }

        p {
            @include paragraph;
        }
    }

    .btn button {
        color: white;
        font-weight: 500;
        background-color: rgb(150, 2, 150);
        padding: 15px 45px;
        &:hover{
            color:black;
            background-color:white;
            border:1px solid black;
        }
    }

    .personal,
    .cooperative {
        height: 400px;
    }
}

.row-digital-marketinq {
    position: relative;
    top: 150px;
}